body {
    background-color: #f9ecf2;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.topnav {
    background-color: #610061;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #2e002e;
    color: #ffebff;
}

.container {
    max-width: 928px;
    margin: 0 auto;
    padding: 0 16px;
  }

footer {
    text-align: right;
}
